<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <form action="/user/register" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Name">
        <pre>

        </pre>
        <br>
        <label for="price">Mobile Number</label>
        <input type="number" id="mbNum" name="mbNum" placeholder="Mobile Number">
        <br>
        <pre>
            
        </pre>
        <input type="number" id="standard" name="standard" placeholder="Standard">
        <br>
        <pre>
            
        </pre>
        <input type="text" id="password" name="password" placeholder="Enter Password">
        <br>
        <pre>
            
        </pre>
        <input type="number" id="login_type" name="login_type" placeholder="Login Type">
        <br>
        <pre>
            
        </pre>
        <input type="submit">
    </form>
</body>
</html>